---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/329260/historical/24?apikey=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-01-30T13:58:00+00:00","EpochTime":1706623080,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":7.5,"Unit":"C","UnitType":17},"Imperial":{"Value":46.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/gb/manchester/m15-6/current-weather/329260?lang=en-us","Link":"http://www.accuweather.com/en/gb/manchester/m15-6/current-weather/329260?lang=en-us"},{"LocalObservationDateTime":"2024-01-30T12:58:00+00:00","EpochTime":1706619480,"WeatherText":"Mostly
        sunny","WeatherIcon":2,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":7.0,"Unit":"C","UnitType":17},"Imperial":{"Value":45.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/gb/manchester/m15-6/current-weather/329260?lang=en-us",[...]
